{% extends 'core/base.html' %}

{% load static %}

{% block title %}Historia{% endblock %}

{% block content %}
<section class="page-section about-heading">
  <div class="container">
    <img class="img-fluid rounded about-heading-img mb-3 mb-lg-5" src="{% static 'core/img/about10.jpg' %}" alt="">
    <div class="about-heading-content">
      <div class="row">
        <div class="col-xl-9 col-lg-10 mx-auto">
          <div class="bg-faded rounded p-4">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">Tradición de excelencia en el servicio</span>
              <span class="section-heading-lower">Nuestra historia</span>
            </h2>
            <p>Logística y Transporte JR S.A.S. inició sus actividades en 2018 por lo cual ya cuenta con más de 3 años de presencia y trayectoria en el mercado.
Desde el comienzo de nuestras actividades, nos especializamos en el servicio de mensajería de diferentes productos y personalización en los horarios de entrega .

Con el transcurso del tiempo hemos incorporado nuevas líneas de servicios con el objetivo de proveer a nuestros clientes soluciones integrales y acorde a sus necesidades. Contamos con un excelente grupo humano el cual se capacita en forma permanente a fin de estar actualizado en los cambios e innovaciones tecnológicas que se presentan en nuestro entorno.</p>
          </div>
        </div>
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div class="about-heading-content">
      <div class="row">
        <div class="col-xl-11 col-lg-12 mx-auto">
          <div class="bg-faded rounded p-1">
            <h2 class="section-heading mb-1">
              <span class="section-heading-lower "><b>Ahora hacemos el trabajo pesado por ti !!!</b></span>
            </h2>
            <p></p>
          </div>
        </div>
      </div>
    </div>
      <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0 " src="{% static 'core/img/about23.jpg' %}" alt="">
  </div>
</section>
{% endblock %}